<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073569578631-9v7tn8fkdm35ruf0qhohc65qt4bqbi5i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073569578631-9v7tn8fkdm35ruf0qhohc65qt4bqbi5i</string>
	<key>API_KEY</key>
	<string>AIzaSyAd_01zgNqc_1TiOqUkGhUVvrVHVbN-MVE</string>
	<key>GCM_SENDER_ID</key>
	<string>1073569578631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.budgetbee.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>budgetbee-8711a</string>
	<key>STORAGE_BUCKET</key>
	<string>budgetbee-8711a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073569578631:ios:f1e09609aefdfc60be8222</string>
</dict>
</plist>